.field-container
{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.field-container__label
{
    font-weight: bold;
    color: #2c3e50;
}

.field-container__input
{
    padding: 5px;
    font-size: 1.2rem;
}