.header, .header__navbar, .header__navbar__list
{
    background-color: #ffffff;
    width: 100%;
}

.header__navbar__list
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__navbar__list__item, .header__navbar__list__item__container
{
    margin: 5px 20px;
}

.header__navbar__list__item__container
{
    display: flex;
    flex-direction: row;
}

.header__navbar__list__item__container__user-info:not(:last-child)
{
    margin-right: 20px;
}

.header__navbar__list__item__link
{
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
}

.header__navbar__list__item__button
{
    padding: 0;
    border: none;
    background: transparent;
}

.header__navbar__list__item__link:hover
{
    text-decoration: underline;
}

.header__navbar__list__item__link__image
{
    width: 200px;
}